In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
from pathlib import Path
from tqdm.auto import tqdm
from itertools import cycle

pio.templates.default = "plotly_white"

np.random.seed()
tqdm.pandas()

In [3]:
SAVE_FIGURES = False
if SAVE_FIGURES:
    os.makedirs('imgs/chapter_2', exist_ok=True)

In [6]:
df = pd.read_excel("https://archive.ics.uci.edu/ml/machine-learning-databases/00247/data_akbilgic.xlsx", skiprows=1)

df.head()

/Users/davidlawson/PycharmProjects/Modern-Time-Series-Forecasting-with-Python-2E/.venv/lib/python3.13/site-packages/openpyxl/worksheet/_reader.py:332: UserWarning:

Unknown extension is not supported and will be removed

,date,ISE,ISE.1,SP,DAX,FTSE,NIKKEI,BOVESPA,EU,EM
0,2009-01-05,0.035754,0.038376,-0.004679,0.002193,0.003894,0.000000,0.031190,0.012698,0.028524
1,2009-01-06,0.025426,0.031813,0.007787,0.008455,0.012866,0.004162,0.018920,0.011341,0.008773
2,2009-01-07,-0.028862,-0.026353,-0.030469,-0.017833,-0.028735,0.017293,-0.035899,-0.017073,-0.020015
3,2009-01-08,-0.062208,-0.084716,0.003391,-0.011726,-0.000466,-0.040061,0.028283,-0.005561,-0.019424
4,2009-01-09,0.009860,0.009658,-0.021533,-0.019873,-0.012710,-0.004474,-0.009764,-0.010989,-0.007802

In [7]:
pd.to_datetime("13-4-1987").strftime('%d, %B %Y')

/var/folders/bx/wnj_y5195_xdzx3fb1h_84180000gn/T/ipykernel_11921/1410252913.py:1: UserWarning:

Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.

'13, April 1987'

In [8]:
pd.to_datetime('4-1-1987').strftime('%d, %B %Y')

'01, April 1987'

In [9]:
pd.to_datetime('4-1-1987', dayfirst=True).strftime('%d, %B %Y')

'04, January 1987'

In [10]:
pd.to_datetime('4|1|1987', format='%d|%m|%Y').strftime('%d, %B %Y')

'04, January 1987'